{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title%}博客分类{% endblock %}
</head>
<body>
 
{% block content %}
   

  <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>博客分类</h3></div>
                      <div class="panel-body">
                            <ul>
                            {% for i in blog_with_type %}
                                <div>
                                    <h3><a href="{% url 'blog_content' i.pk %}">{{i.title}}</a></h3>
                                    <span style="color:#999">分类：{{i.blog_type}} &nbsp;|&nbsp;</span>
                                    <span style="color:#999">作者：{{i.author}} &nbsp;|&nbsp;</span>
                                    <span style="color:#999">更新时间：{{i.last_updated_time}}</span>
                                    <p style="margin-top:1em">{{i.content|striptags|truncatechars:120}}</p>
                                </div>
                            {% endfor %}
                            </ul>
                      </div>
                    </div>

            </div>
           
    
            <div class="hidden-xs col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading"><h4>博客分类</h4></div>
                      <div class="panel-body">
                            <ul>
                           {% for blog_type in blog_type_all%}
                                <!-- 添加a标签链接到对应博客分类页面下所有博客正文 -->
                                <a href={% url "blog_type" blog_type.pk %}><li style="list-style-type: none;">{{blog_type.typename}}</li></a>
                           {% endfor%}
                           </ul>

                      </div>
                    </div>      
            </div>
        </div>
    </div>

{% endblock %}





</body>
</html>